* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #999999;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message p {
    padding: 10px 35px;
    font-size: 12px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: '\2714';
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: '\2716';
}

.designer-list {
    width: 200px;
    height: 200px;
    padding: 10px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #654654;
    margin: 5px;
    color: white;
    text-decoration: none;
}


.designer-list img {
    max-width: 200px;
    max-height: 200px;
}

#mapid {
  height: 300px;
  width: 100%;
  position: relative;
  top: 10px;
  right: 10px;
}

#nav {
    margin: 0;
    padding: 0;
    background-color: #654654;
}

#nav ul, #actions ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#nav li {
    padding: 10px;
}

#nav a, #actions a {
    color: white;
    font-size: 25px;
    text-decoration: none;
}

#nav li:hover, #actions li:hover {
    background-color: green;
    border-color: white;
}

#logo {
    width: 300px;
    height:100px;
    background-color:#122#333;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo img {
    max-width: 300px;
    max-height: 100px;

}

#actions {
    float: right;
}

#actions li {
    padding: 10px;
    list-style-type: none;
    border: solid;
    border-radius: 20px;
}

#designer-content-home {
    display: flex;
    justify-content: center;
}

#designer-info {
    width: 1000px;
    background-color: #666666;
    padding: 10px;
    margin: 5px;
    color: white;
    font-size: 16px;
}

#realizations-admin {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-flow: row wrap;
}

#single-realization-admin {
    position: relative;
    height: 48%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #123456;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 3px;
    margin-right: 3px;
}

#single-image {
    height: 100%;
    width: 100%;
}

#single-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top center;
}

#single-action {
    position: absolute;
    height: 10%;
    bottom: 6px;
}

#single-action button {
    height: 100%;
    background-color: black;
    opacity: 0.5;
    font-size: 14px;
    border: none;
    cursor: pointer;
    padding: 2px;
    border-radius: 5px;
}

#single-action button:hover {
    opacity: 1;
}

#single-action a {
    color: white;
    font-size: 2vh;
}

#add-action {
    margin-top: 6px;
    padding: 2px;
    height: 6%;
    background-color: #654654;
    text-align: center;
}

#add-action:hover {
    background-color: green;
}

#add-action a {
    width: 100%;
    font-size: 5vh;
    color: white;
    letter-spacing: 3px;
    display: block;
}


